@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --corpo: 'Raleway', sans-serif;
    --background: #ded6c0;
    --texto: #f5f0ed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
}

body {
    font-family: var(--corpo);
    background-color: var(--background);
}

/*---------Starts Header-----------*/
#header-container {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background: var(--background) url(../media/Fondo1.jpg) center center fixed;
    background-size: cover;
}

#header-text {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    color: var(--texto);
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 2rem;
}

#header-text h1 {
    font: 900 2.5em var(--corpo);
    margin: 20px 0px;
}

#header-text h3 {
    font: 500 1.2em var(--corpo);
    line-height: 1.5em;
}

#divisor {
    display: block;
    height: 2px;
    width: 40%;
    background-color: white;
    margin: 20px auto;
}

nav {
    width: 100%;
    height: 80px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-desktop {
    display: flex;
    align-items: center;
}

#menu-desktop li {
    padding: 1rem;
}

#menu-desktop a {
    font-weight: 700;
    color: var(--texto);
    transition: .1s all;
}

#menu-desktop a:hover {
    border-bottom: 2px solid var(--texto);
    padding-bottom: .5rem;
}

#menu-mobile {
    display: none;
}
/*--------Finish header---------*/


/*--------Starts Section 1---------*/
.container, .left-container, .right-container {
    display: flex;
}

.container > div {
    width: 50%;
    height: 250px;
    padding: 20px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.left-container {
    background-color: #d03b40;
    color: #ded6c0;
}

.right-container {
    background-color: #ded6c0;
    color: #d03b40;
}

.left-text h1, .right-text h1 {
    font-weight: 800;
}

.left-text p, .right-text p {
    margin: 1rem;
    line-height: 1.5em;
}
/*-------- Finishes Section 1 ---------*/

/*-------- Starts container-two ---------*/
.container-two {
    width: 100%;
    min-height: 500px;
    display: flex;
    background: #ded6c0 url(../media/Fondo2.jpg) center center fixed;
    background-size: cover;
}

.container-two .container-two__text {
    max-width: 750px;
    padding: 40px;
    color: #fff;
    margin: auto;
    line-height: 1.5em;
    text-align: center;
    align-content: center;
    align-items: center;
}

.container-two .container-two__text h1 {
    font: 900 2em var(--corpo);
}

.container-two .container-two__text button {
    max-width: 300px;
    margin: 2rem auto;
    color: var(--texto);
    font-weight: 800;
    padding: .8rem 1rem;
    background-color: transparent;
    border: 2px solid var(--background);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s all;
}

.container-two .container-two__text button:hover {
    background-color: #ded6c0d2;
    color: #241d1b;
}
/*-------- Finishes container-two ---------*/


/*--------Starts Description---------*/
.description {
    display: flex;
}

.description div {
    width: auto;
    min-height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #241d1b;
}

.description div p {
    line-height: 1.8em;
}

.description img {
    width: 40%;
}
/*--------Finishes Description---------*/

/*-------- Starts map ---------*/
.map {
    width: 100%;
    min-height: 600px;    
    padding: 3rem;
    backdrop-filter: brightness(30%);
    background: var(--background) url(../media/Fondo3.jpg) center center fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map__item {
    width: 500px;
    height: 500px;
    padding: 2rem;
    background-color: #ded6c0c5;
    border: 2px solid var(--background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.map__item h1 {
    font: 700 2em var(--corpo);
    margin-bottom: 1rem;
}

.map__item h3 {
    font: 500 1.3em var(--corpo);
    line-height: 1.5em;
}

.map__item button {
    max-width: 300px;
    margin: 2rem auto;
    color: var(--texto);
    font-weight: 800;
    padding: .8rem 1.8rem;
    background-color: #d03b40;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s all;
}

.map__item button:hover {
    background-color: #852529;
}
/*-------- Finishes map ---------*/


/*--------Starts Footer---------*/
footer {
    min-height: 300px;
    padding: 1rem;
    background-color: var(--background);
    color: #241d1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer ul {
    width: 20%;
}

footer ul input[type=email] {
    padding: 1rem;
    border: 1px solid #241d1b;
    background: none;
}

footer ul li p {
    font-weight: 500;
    line-height: 1.5em;
}

footer ul .list__title p {
    font-weight: 800;
    margin-bottom: 1rem;
}

/*--------Finishes Footer---------*/



/*--------Medias Queries---------*/
@media screen and (max-width: 768px) {

/*-------------Header Mobile/Tablet-----------*/
nav {
    background-color: #241d1b83;
    padding: 0;
}

nav #logo {
    padding-left: 1rem;
}

#menu-desktop {
    width: 100%;
    height: 0;
    display: block;
    position: absolute;
    top: 80px;
    background-color: #241d1b83;
    visibility: hidden;
    overflow: hidden;
    transition: .6s;
}

#menu-desktop li {
    padding: 1.2rem;
}

#menu-mobile {
    display: block;
    margin: 1rem;
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

button #icon {
    width: 30px;
    display: block;
    color: #f5f0ed;
    border-top: 1px solid #f5f0ed;
    transition: .2s all;
}

button #icon::after {
    width: 30px;
    height: 1px;
    display: block;
    content: '';
    background: currentColor;
    margin-top: 6px;
    position: relative;
}

button #icon::before {
    width: 30px;
    height: 1px;
    display: block;
    content: '';
    background: currentColor;
    margin-top: 6px;
    position: relative;
}

#nav.active button #icon {
    transform: rotate(45deg);
}

#nav.active button #icon::after {
    transform: rotate(90deg);
    top: -7px;
}

#nav.active button #icon::before {
    display: none;
}

#nav.active #menu-desktop {
    height: calc(100vh - 80px);
    visibility: visible;
    z-index: 2;
}
/*-------------Finishes Header Mobile/Tablet-----------*/

/*--------Starts Section 1---------*/
.container {
    flex-direction: column;
}
.container div {
    width: 100%;
}
/*--------Finishes Section 1---------*/

/*--------Starts Description---------*/
.description {
    flex-direction: column;
}

.description div {
    height: auto;
}

.description img {
    width: 20%;
}
/*--------Finishes Description---------*/

.map {
    flex-direction: column-reverse;
    justify-content: space-around;
}

.map__item {
    width: 90%;
}

.map iframe {
    width: 90%;
}
}



